In [36]:
import pandas as pd
import numpy as np
import json
import ast

In [41]:
df = pd.read_csv("../../assets/huggingface_co2_clean_pm.csv")

In [42]:
df

,modelId,datasets,datasets_size,co2_eq_emissions,co2_reported,source,training_type,geographical_location,environment,performance_score,...,size,created_at,size_efficency,datasets_size_efficency,auto,pm_accuracy,pm_f1,pm_rouge1,pm_rougeL,model_type
0,en_lg,['Eric Peter/autonlp-data-EN-LUG'],NaN,133.021988,1,AutoTrain,Not Specified,Not Specified,Not Specified,0.513276,...,3.081921e+08,2022-01-05,2.316851e+06,NaN,True,NaN,NaN,0.525404,0.501696,type2 (rouge)
1,lg_en,['EricPeter/autonlp-data-MarianMT_lg_en'],NaN,126.344463,1,AutoTrain,Not Specified,Not Specified,Not Specified,0.602463,...,3.083194e+08,2022-01-05,2.440308e+06,NaN,True,NaN,NaN,0.624613,0.581830,type2 (rouge)
2,autonlp-triage-35248482,['Aimendo/autonlp-data-triage'],NaN,7.989145,1,AutoTrain,Not Specified,Not Specified,Not Specified,0.961060,...,4.380438e+08,2021-11-23,5.482988e+07,NaN,True,0.972865,0.949538,NaN,NaN,type1 (accuracy & f1)
3,autonlp-Test-530014983,['Ajay191191/autonlp-data-Test'],NaN,55.101963,1,AutoTrain,Not Specified,Not Specified,Not Specified,0.929787,...,4.333314e+08,2022-01-25,7.864173e+06,NaN,True,0.929884,0.929690,NaN,NaN,type1 (accuracy & f1)
4,autonlp-Feedback1-479512837,['Anamika/autonlp-data-Feedback1'],NaN,123.880231,1,AutoTrain,Not Specified,Not Specified,Not Specified,0.778492,...,1.123320e+09,2022-01-06,9.067793e+06,NaN,True,0.796112,0.761635,NaN,NaN,type1 (accuracy & f1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,roberta-frame-CP,['davis901/autotrain-data-imdb-textclassificat...,NaN,3.313266,1,AutoTrain,Not Specified,Not Specified,Not Specified,0.999000,...,1.421587e+09,2023-04-04,4.290592e+08,NaN,True,0.999000,0.999000,NaN,NaN,type1 (accuracy & f1)
1074,postnashville_antitrans_telegram-46622115298,['sefaozalpadl/autotrain-data-postnashville_an...,NaN,0.443449,1,AutoTrain,Not Specified,Not Specified,Not Specified,0.758460,...,7.377718e+08,2023-04-04,1.663714e+09,NaN,True,0.818000,0.707000,NaN,NaN,type1 (accuracy & f1)
1075,autotrain-activity_parameters-46735115465,['WilliamWen/autotrain-data-activity_parameters'],NaN,0.804404,1,AutoTrain,Not Specified,Not Specified,Not Specified,0.873792,...,1.336520e+09,2023-04-04,1.661503e+09,NaN,True,0.990000,0.782000,NaN,NaN,type1 (accuracy & f1)
1076,activity_params_02_the_best,['WilliamWen/autotrain-data-activity_parameter...,NaN,0.401257,1,AutoTrain,Not Specified,Not Specified,Not Specified,0.893609,...,1.336520e+09,2023-04-04,3.330836e+09,NaN,True,0.989000,0.815000,NaN,NaN,type1 (accuracy & f1)
1077,autotrain-t5-billsum-47010115876,['zap8600/autotrain-data-t5-billsum'],NaN,0.011132,1,AutoTrain,Not Specified,Not Specified,Not Specified,0.183997,...,2.420716e+08,2023-04-05,2.174622e+10,NaN,True,NaN,NaN,0.200020,0.170350,type2 (rouge)

In [43]:
size_of_dataframe = len(df)

In [44]:
df['model_type'].value_counts()

model_type
type1 (accuracy & f1)    773
type2 (rouge)            228
type3 (accuracy)          72
type5 (rouge1)             3
type4 (f1)                 2
Name: count, dtype: int64

In [19]:
df_datasets =df['datasets'].value_counts().to_frame('count')

In [20]:
df_para_exportar = df_datasets.reset_index()
df_para_exportar = df_para_exportar.rename(columns={'index': 'datasets'})
df_para_exportar.to_csv("../../assets/huggingface_libs.csv", index=False)

In [21]:
df['domain'].value_counts()/size_of_dataframe

domain
NLP                0.814471
Computer Vision    0.160482
Not Specified      0.025046
Name: count, dtype: float64

In [22]:
df['library_name'].value_counts()/size_of_dataframe

library_name
['transformers', 'pytorch']                                  0.741187
['pytorch']                                                  0.220779
['joblib']                                                   0.011132
['transformers', 'safetensors', 'pytorch']                   0.007421
['joblib', 'transformers']                                   0.006494
['transformers', 'joblib']                                   0.005566
['transformers', 'tf']                                       0.001855
['transformers', 'tf', 'pytorch']                            0.000928
['pytorch', 'transformers', 'tf']                            0.000928
['transformers', 'pytorch', 'tensorboard']                   0.000928
['transformers', 'jax', 'safetensors', 'pytorch']            0.000928
['transformers', 'onnx', 'pytorch']                          0.000928
['tensorboard', 'transformers', 'pytorch', 'safetensors']    0.000928
Name: count, dtype: float64

In [23]:
df['geographical_location'].value_counts()/size_of_dataframe

geographical_location
Not Specified          0.997217
Denmark                0.001855
Fredericia, Denmark    0.000928
Name: count, dtype: float64

In [24]:
df['environment'].value_counts()/size_of_dataframe

environment
Not Specified    0.997217
1 v100 16GB      0.001855
1 Tesla P100     0.000928
Name: count, dtype: float64

In [25]:
df_media_performance = df.groupby('model_type')['performance_score'].mean().reset_index()

df_media_performance = df_media_performance.rename(columns={'performance_score': 'performance_score_medio'})

print(df_media_performance)

              model_type  performance_score_medio
0  tipe1 (accuracy & f1)                 0.794179
1          tipe2 (rouge)                 0.435588
2       tipe3 (accuracy)                 0.952676
3             tipe4 (f1)                      NaN
4         tipe5 (rouge1)                      NaN

In [31]:
#Performance score: the harmonic mean of normalized performance metrics (accuracy, F1, Rouge-1, Rouge-L),
#penalizing cases where a single metric is extremely low.

In [45]:
metricas_performance = ['pm_accuracy', 'pm_f1', 'pm_rouge1', 'pm_rougeL', 'co2_eq_emissions']

matriz_resultados = df.groupby('model_type')[metricas_performance].mean()

print(matriz_resultados)

                       pm_accuracy     pm_f1  pm_rouge1  pm_rougeL  \
model_type
type1 (accuracy & f1)     0.851705  0.770001        NaN        NaN
type2 (rouge)                  NaN       NaN   0.992544    0.82942
type3 (accuracy)          0.936262       NaN        NaN        NaN
type4 (f1)                     NaN  0.790550        NaN        NaN
type5 (rouge1)                 NaN       NaN  34.226400        NaN

                       co2_eq_emissions
model_type
type1 (accuracy & f1)         26.161696
type2 (rouge)                240.941524
type3 (accuracy)               2.981873
type4 (f1)                  4009.500000
type5 (rouge1)              1219.703210

In [27]:
df_co2_promedio = df.groupby('model_type')['co2_eq_emissions'].mean().reset_index()

df_co2_promedio = df_co2_promedio.rename(columns={'co2_eq_emissions': 'co2_emissions_promedio'})
# Mostrar el DataFrame resultante
print(df_co2_promedio)
#Debería presentarlo como un histograma?

              model_type  co2_emissions_promedio
0  tipe1 (accuracy & f1)               26.161696
1          tipe2 (rouge)              240.941524
2       tipe3 (accuracy)                2.981873
3             tipe4 (f1)             4009.500000
4         tipe5 (rouge1)             1219.703210

In [28]:
df['source'].value_counts()/size_of_dataframe

source
AutoTrain    1.0
Name: count, dtype: float64

In [29]:
df_media_performance = df.groupby('model_type')['size'].mean().reset_index()

df_media_performance = df_media_performance.rename(columns={'size': 'size'})

print(df_media_performance)

              model_type          size
0  tipe1 (accuracy & f1)  6.179107e+08
1          tipe2 (rouge)  1.949017e+09
2       tipe3 (accuracy)  3.712248e+08
3             tipe4 (f1)  5.797940e+07
4         tipe5 (rouge1)  1.991398e+09

In [30]:
mediana_performance = df['performance_score'].median()
mediana_co2 = df['co2_eq_emissions'].median()

print(f"Umbral de Performance (Mediana): {mediana_performance:.4f}")
print(f"Umbral de CO2 (Mediana): {mediana_co2:.4f}")

# 2. Crear una función para clasificar cada modelo
def clasificar_fairness(row):
    # Usamos .loc para evitar errores con valores NaN
    performance = row['performance_score']
    co2 = row['co2_eq_emissions']
    
    # Manejar posibles valores nulos antes de comparar
    if pd.isna(performance) or pd.isna(co2):
        return 'Datos incompletos'
    
    if performance >= mediana_performance and co2 <= mediana_co2:
        return 'Justo y Eficiente'
    elif performance >= mediana_performance and co2 > mediana_co2:
        return 'Potente pero Costoso'
    elif performance < mediana_performance and co2 <= mediana_co2:
        return 'Ecológico pero Débil'
    else: # performance < mediana_performance and co2 > mediana_co2
        return 'Ineficiente'

# 3. Aplicar la función para crear una nueva columna de clasificación
df['clasificacion_fairness'] = df.apply(clasificar_fairness, axis=1)

# Ver los resultados
print("\nConteo de modelos por clasificación:")
print(df['clasificacion_fairness'].value_counts())

Umbral de Performance (Mediana): 0.8235
Umbral de CO2 (Mediana): 2.7551

Conteo de modelos por clasificación:
clasificacion_fairness
Justo y Eficiente       288
Ineficiente             284
Ecológico pero Débil    245
Potente pero Costoso    241
Datos incompletos        20
Name: count, dtype: int64

In [31]:
mediana_performance = df['performance_score'].median()
mediana_co2 = df['co2_eq_emissions'].median()

# 2. Definir la función de clasificación
def clasificar_fairness(row):
    performance = row['performance_score']
    co2 = row['co2_eq_emissions']
    
    if pd.isna(performance) or pd.isna(co2):
        return 'Incomplete data'
    
    if performance >= mediana_performance and co2 <= mediana_co2:
        return 'Fair and Efficient'
    elif performance >= mediana_performance and co2 > mediana_co2:
        return 'Powerful but Expensive'
    elif performance < mediana_performance and co2 <= mediana_co2:
        return 'Green but Weak'
    else:
        return 'Inefficient'

df['clasificacion_fairness'] = df.apply(clasificar_fairness, axis=1)
df['is_fair'] = (df['clasificacion_fairness'] == 'Fair and Efficient')


print("New Columns added to df")
print(df.iloc[:, -5:].head())

New Columns added to df
   pm_rouge1  pm_rougeL             model_type  clasificacion_fairness  \
0   0.525404   0.501696          tipe2 (rouge)             Inefficient
1   0.624613   0.581830          tipe2 (rouge)             Inefficient
2        NaN        NaN  tipe1 (accuracy & f1)  Powerful but Expensive
3        NaN        NaN  tipe1 (accuracy & f1)  Powerful but Expensive
4        NaN        NaN  tipe1 (accuracy & f1)             Inefficient

   is_fair
0    False
1    False
2    False
3    False
4    False

In [32]:
df.to_csv("../../assets/huggingface_with_fairness.csv", index=False)

In [33]:
df.groupby('model_type')['is_fair'].value_counts()

model_type             is_fair
tipe1 (accuracy & f1)  False      544
                       True       229
tipe2 (rouge)          False      219
                       True         9
tipe3 (accuracy)       True        50
                       False       22
tipe4 (f1)             False        2
tipe5 (rouge1)         False        3
Name: count, dtype: int64

In [34]:
df.groupby('clasificacion_fairness').value_counts()

Series([], Name: count, dtype: int64)

In [35]:
df.groupby('model_type')['clasificacion_fairness'].value_counts()

model_type             clasificacion_fairness
tipe1 (accuracy & f1)  Fair and Efficient        229
                       Powerful but Expensive    214
                       Green but Weak            181
                       Inefficient               142
                       Incomplete data             7
tipe2 (rouge)          Inefficient               140
                       Green but Weak             57
                       Powerful but Expensive     18
                       Fair and Efficient          9
                       Incomplete data             4
tipe3 (accuracy)       Fair and Efficient         50
                       Powerful but Expensive      9
                       Green but Weak              7
                       Incomplete data             4
                       Inefficient                 2
tipe4 (f1)             Incomplete data             2
tipe5 (rouge1)         Incomplete data             3
Name: count, dtype: int64